<div class="row">
	<div class="col-md-3">
		<span class="title">Skill Level <i class="fa fa-question-circle" data-toggle="popover" title="Skill Levels" data-content="<strong>0:</strong> Highly skilled, university degree<br /><strong>A:</strong> University degree<br /><strong>B:</strong> College degree, apprenticeship<br /><strong>C:</strong> Secondary school<br /><strong>D:</strong> On-the-job training" data-container="body"></i></span>
		<ul data-type="skill_level">
		{{#each skill}}
			<li><a href="#" data-value="{{@index}}" {{#if this.active}}class="active"{{/if}}>{{this.name}}</a></li>
		{{/each}}
		</ul>
	</div><!-- .col -->
	<div class="col-md-5">
		<span class="title">Wage Attraction <i class="fa fa-question-circle" data-toggle="popover" title="Wage Attraction" data-content="<strong>Non-Competitive:</strong> Provincial wage less than national by over 10%<br /><strong>Marginally Non-Competitive:</strong> Provincial wage less than national by less than 10%<br /><strong>Marginally Competitive:</strong> Provincial wage greater than national by less than 10%<br /><strong>Competitive:</strong> Provincial wage greater than national by over 10%" data-container="body"></i></span>
		<ul data-type="wage_attr">
		{{#each wageattr}}
			<li><a href="#" data-value="{{@index}}" {{#if this.active}}class="active"{{/if}}>{{this.name}}</a></li>
		{{/each}}
		</ul>
	</div><!-- .col -->
	<div class="col-md-4">
		<span class="title">Replacement Potential <i class="fa fa-question-circle" data-toggle="popover" title="Replacement Potential" data-content="<strong>Very Low:</strong> Number of older people in occupation exceeds low growth requirement by over 10%<br /><strong>Low:</strong> Number of older people in occupation exceeds low growth requirement by less than 10%<br /><strong>High:</strong>  Number of young people in occupation exceeds low growth requirement by less than 10%<br /><strong>Very High:</strong> Number of young people in occupation exceeds low growth requirement by over 10%" data-container="body"></i></span>
		<ul data-type="repl_pot">
		{{#each replpot}}
			<li><a href="#" data-value="{{@index}}" {{#if this.active}}class="active"{{/if}}>{{this.name}}</a></li>
		{{/each}}
		</ul>
	</div><!-- .col -->
</div><!-- .row -->