<p class="result-num">
	<strong>Results:</strong> {{resultNum}}
</p>
<table>
	<thead>
		<tr>
			<th>Occupation</th>
			<th>
				Skill Level
				<i class="fa fa-question-circle" data-toggle="popover" title="Skill Levels" data-content="<strong>0:</strong> Highly skilled, university degree<br /><strong>A:</strong> University degree<br /><strong>B:</strong> College degree, apprenticeship<br /><strong>C:</strong> Secondary school<br /><strong>D:</strong> On-the-job training"></i>
			</th>
			{{#unless isAll}}
			<th>
				Wage Attraction
				<i class="fa fa-question-circle" data-toggle="popover" title="Wage Attraction" data-content="<strong>Non-Competitive:</strong> Provincial wage less than national by over 10%<br /><strong>Marginally Non-Competitive:</strong> Provincial wage less than national by less than 10%<br /><strong>Marginally Competitive:</strong> Provincial wage greater than national by less than 10%<br /><strong>Competitive:</strong> Provincial wage greater than national by over 10%" data-placement="left"></i>
			</th>
			{{/unless}}
			<th>
				Replacement Potential
				<i class="fa fa-question-circle" data-toggle="popover" title="Replacement Potential" data-content="<strong>Very Low:</strong> Number of older people in occupation exceeds low growth requirement by over 10%<br /><strong>Low:</strong> Number of older people in occupation exceeds low growth requirement by less than 10%<br /><strong>High:</strong>  Number of young people in occupation exceeds low growth requirement by less than 10%<br /><strong>Very High:</strong> Number of young people in occupation exceeds low growth requirement by over 10%" data-placement="left"></i>
			</th>
		</tr>
	</thead>
	<tbody>
	{{#each occupations}}
		<tr>
			<td><a href="#" class="occupation-name" data-id="{{id}}">{{name}}</a></td>
			<td>{{skill_level}}</td>
			{{#unless ../isAll}}
			<td>{{wage_attr}}</td>
			{{/unless}}
			<td>{{repl_pot}}</td>
		</tr>
	{{/each}}
	</tbody>
</table>