.button {
	background: $slate;
	color: $white;
	padding: 8px 15px;
	@include transition(all 0.2s ease-in);
}

.button-small {
	font-size: 0.8em;
}

.button-hollow {
	background: transparent;
	border: 1px solid $slate;
	color: $slate;
}

.button-hollow:hover {
	background: $slate;
	color: $white;
}

.button-blue {
	background: $blue;
	color: $white;
	border: 1px solid $blue;
}

.button-blue:hover {
	background: transparent;
	color: $blue;
}

.button-blue.button-hollow {
	border: 1px solid $blue;
	background: transparent;
	color: $blue;
}

.button-blue.button-hollow:hover {
	background: $blue;
	color: $white;
}

.button-grey {
	background: rgba($slateR, $slateG, $slateB, 0.5);
	color: $white;
	border: 1px solid transparent;
}

.button-grey:hover,
.button-grey.active {
	background: transparent;
	color: rgba($slateR, $slateG, $slateB, 0.5);
	border: 1px solid rgba($slateR, $slateG, $slateB, 0.5);
}

.button-grey.button-hollow {
	border: 1px solid rgba($slateR, $slateG, $slateB, 0.5);
	background: transparent;
	color: rgba($slateR, $slateG, $slateB, 0.5);
}

.button-grey.button-hollow:hover {
	background: rgba($slateR, $slateG, $slateB, 0.5);
	color: $white;
}