nav {
	.chart {
		height: 150px;
		margin: 0 -20px -30px -30px;

		.highcharts-container > svg > text:nth-child(15) {
			fill: $slate;
			display: none !important;
		}
	}

	.chart-area {
		.highcharts-background {
			fill: $slate !important;
		}

		.highcharts-title {
			display: none !important;
		}

		.highcharts-axis-labels > text {
			color: rgba(255,255,255,0.5) !important;
			fill: rgba(255,255,255,0.5) !important;
		}

		.highcharts-legend {
			display: none !important;
		}

		.highcharts-series {
			path:first-child {
				fill: rgba($tealR, $tealG, $tealB, 0.3) !important;
			}
			path:nth-child(2) {
				stroke: $white !important;
				stroke-width: 3px;
			}
		}

		.highcharts-markers {
			path {
				fill: $darkSlate !important;
				stroke: $white !important;
				stroke-width: 3px;
				@include transition(fill 0.2s ease-in);
			}
			path:hover {
				fill: $yellow !important;
			}
		}

		.highcharts-tooltip {
			path {
				fill: $darkSlate !important;
				stroke-width: 0px;
			}

			text {
				fill: $white !important;
			}
		}

		.highcharts-grid {
			path {
				stroke: rgba(255,255,255,0.2) !important;
			}
		}
	}
}