.col-content {
	height: 100%;
	padding: 0px;
}

.content-wrapper {
	width: 100%;
	min-height: 100%;
	position: relative;

	.content-section {
		min-height: 100%;
		font-weight: $fontLight;
		padding: 35px 20px;
	}
}