/*** Font Stacks **/

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic);
$font: 400 14pt/100% 'Ubuntu', Arial, Helvetica, sans-serif;
$fontLight: 300;
$fontBold: 500;
$fontBlack: 700;
$fontNormal: 400;

//COLORS

$white: #fafaf9;

$slate: #485558;
$slateR: 72;
$slateG: 85;
$slateB: 88;

$darkSlate: #203035;
$darkSlateR: 32;
$darkSlateG: 48;
$darkSlateB: 53;

$blue: #26b0cc;
$blueR: 38;
$blueG: 176;
$blueB: 204;

$lightBlue: #71c9d5;
$lightBlueR: 113;
$lightBlueG: 201;
$lightBlueB: 213;

$darkBlue: #1890A8;

$teal: #39e6ac;
$tealR: 57;
$tealG: 230;
$tealB: 172;

$darkTeal: #23c08b;

$yellow: #eed16d;
$yellowR: 238;
$yellowG: 209;
$yellowB: 109;

/** GLOBAL DECLARATIONS **/

body,
html {
	height: 100%;
	font: $font;
	color: $slate;
	background: $white;
}

.container-main,
.row-main {
	height: 100%;
}

.container-main {
	margin-left: -1px;
}

body > .popover {
	font-weight: $fontLight;
	font-size: 0.7em;

	h3 {
		font-size: 1em;
	}
}