#graphed {
	background: rgba($slateR, $slateG, $slateB, 0.1);

	i.fa-question-circle {
		opacity: 0.3;
		font-size: 0.9em;
		@include transition(all 0.2s ease-in);
	}

	i.fa-question-circle:hover {
		opacity: 0.7;
		cursor: pointer;
	}

	.location-bar {
		background: $white;
		margin: -35px -19px 0px;
  		padding: 20px;

  		span {
  			display: inline-block;
  			position: relative;
  		}

  		.fer {
  			padding-left: 28px;
  		}

  		.fer:before {
  			@extend .fa-chevron-right;
  			font-family: 'FontAwesome';
  			position: absolute;
  			left: 6px;
  			top: 1px;
  			color: $blue;
  		}
	}

	h2 {
		font-size: 0.9em;
		margin: 0 0 20px 0;
		font-weight: $fontLight;
	}

	.full-chart {
		background: $white;
		margin: 30px 10px;

		h3 {
			background: $slate;
			color: $white;
			font-size: 0.8em;
			padding: 20px;
			margin: 0;
		}

		.col-md-height {
			padding: 20px;
		}

		.col-side {
			background: rgba($slateR, $slateG, $slateB, 0.05);
		}

		.half-chart-container {

			ol {
				//list-style-type: none;
				margin: 0;
				padding: 0;
				font-size: 0.7em;
				font-weight: $fontLight;
				line-height: 0.95em;
				list-style-type: none;
				counter-reset: item;

				li {
					padding: 10px 0 10px 40px;
					position: relative;
					border-bottom: 1px solid rgba(0,0,0,0.1);
				}

				li:last-child {
					border-bottom: 0px;
				}

				li:before { 
				    content: counter(item) "  "; 
				    counter-increment: item;
				    position: absolute;
				    left: 0;
				    background: $blue;
				    color: $white;
				    font-size: 1.3em;
				    padding: 6px;
				    text-align: center;
				    width: 25px;
				    height: 25px;
				    border-radius: 100%;
				    font-weight: $fontBold;
				}

				li > a {
					font-weight: $fontNormal;
					color: $slate;
					display: block;
					margin: 0 0 5px 0;
					@include transition(all 0.1s ease-in);
				}

				li > a:hover {
					color: $blue;
				}
			}
		}
	}

	#demography-chart {
		height: 250px;

		.highcharts-background {
			fill: transparent !important;
		}
	}

	.demography-pop {
		text-align: center;
		font-size: 0.9em;
		margin: 0 0 20px 0;
		border-bottom: 1px solid rgba(0,0,0,0.15);
		padding-bottom: 20px;

		span {
			display: block;
			font-size: 2.2em;
			color: $blue;
			line-height: 1em;
			font-weight: $fontBold;
		}
	}

	p {
		font-size: 0.8em;
	}

	.half-chart-table {
		margin: 0px 0px;
	}

	.half-chart {
		position: relative;
		padding: 10px;

		.half-chart-container {
			background: $white;
			padding: 20px;
		}

		#industry-select {
			margin-bottom: 20px;

			label {
				display: inline-block;
				width: 30%;
				text-transform: uppercase;
				font-size: 0.8em;
				font-weight: $fontLight;
			}
			select {
				max-width: 69%;
				border: 0;
				border-bottom: 2px solid $blue;
				font-size: 0.8em;
				font-weight: $fontLight;
				background: transparent;
				position: relative;
				z-index: 1;
				display: inline-block;
				@include appearance(none);
				padding: 5px 20px 5px 5px;
			}

			&:before {
				@extend .fa-chevron-down;
				color: $blue;
				font-family: 'FontAwesome';
				position: absolute;
				right: 25px;
				top: 30px;
				z-index: 0;
			}
		}

		#industry-chart {
			.highcharts-background {
				fill: transparent !important;
			}
		}

		h3 {
			background: $slate;
			color: $white;
			font-size: 0.8em;
			padding: 20px;
			margin: -20px -20px 20px;
		}

		ol {
			//list-style-type: none;
			margin: 0;
			padding: 0;
			font-size: 0.7em;
			font-weight: $fontLight;
			line-height: 0.95em;
			list-style-type: none;
			counter-reset: item;

			li {
				padding: 10px 0 10px 40px;
				position: relative;
				border-bottom: 1px solid rgba(0,0,0,0.1);
			}

			li:last-child {
				border-bottom: 0px;
			}

			li:before { 
			    content: counter(item) "  "; 
			    counter-increment: item;
			    position: absolute;
			    left: 0;
			    background: $blue;
			    color: $white;
			    font-size: 1.3em;
			    padding: 6px;
			    text-align: center;
			    width: 25px;
			    height: 25px;
			    border-radius: 100%;
			    font-weight: $fontBold;
			}

			li > a {
				font-weight: $fontNormal;
				color: $slate;
				display: block;
				margin: 0 0 5px 0;
				@include transition(all 0.1s ease-in);
			}

			li > a:hover {
				color: $blue;
			}
		}
	}
}

#occupations-chart {
	.highcharts-background {
		fill: transparent !important;
	}
}

