#linked-map {
	width: 100%;
	height: 100%;

	.linked-info {
		background: rgba($blueR, $blueG, $blueB, 0.8);
		color: $white;
		font: $font;
		width: 300px;
		top: -10px;
		left: -10px;
		padding: 20px;
		font-size: 1.2em;
	}

	.province {
		position: relative;
		background: rgba(255,255,255,0.8);
		margin: 0;
		padding: 5px 10px 10px 5px;

		select {
			background: transparent;
			border: 0;
			border-bottom: 2px solid $blue;
			color: $slate;
			font: $font;
			font-weight: $fontLight;
			font-size: 1.3em;
			padding: 10px 30px 10px 10px;
			position: relative;
			z-index: 1;
			@include appearance(none);
		}	

		&:before {
			@extend .fa-chevron-down;
			font-family: 'FontAwesome';
			color: $blue;
			font-size: 1.5em;
			position: absolute;
			right: 10px;
			top: 10px;
			z-index: 0;
		}
	}

	.leaflet-popup-content-wrapper {
		border-radius: 0px;
		box-shadow: 0 0 0 rgba(0,0,0,0);
		font: $font;
		font-size: 1em;
		background: $white;
	}
}

.side-select {
	position: relative;
	background: $slate;

	select {
		@include appearance(none);
		background: transparent;
		border: 0;
		width: 100%;
		padding: 10px 30px 10px 0;
		position: relative;
		z-index: 1;
		border-bottom: 4px solid $blue;
		font-size: 0.9em;
		font-weight: $fontLight;
	}

	select:disabled {
		color: rgba(255,255,255,0.5);
		border-bottom: 4px solid rgba($blueR, $blueG, $blueB, 0.5);
	}

	option {
		background: $slate;
		font-weight: $fontLight;
	}

	&:before {
		@extend .fa-chevron-down;
		font-family: 'FontAwesome';
		color: $white;
		position: absolute;
		right: 5px;
		top: 8px;
		z-index: 0;
	}
}

.side-select.disabled:before {
	color: rgba(255,255,255,0.5);
}

#linked-details-container {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

.linked-details {
	position: relative;
	height: 100%;
	background: rgba(255,255,255,0.8);
	width: 300px;
	color: $slate;
	font: $font;
	font-weight: $fontNormal;
	font-size: 0.8em;

	.header {
		background: $blue;
		color: $white;
		padding: 20px;

		.direction {
			display: block;
			text-indent: -999em;
			position: relative;
		}

		.direction:before {
			font-family: 'FontAwesome';
			text-indent: 0;
			position: absolute;
			left: 0;
			top: 0;
		}

		.direction-from:before {
			@extend .fa-long-arrow-right;
		}

		.direction-to:before {
			@extend .fa-long-arrow-left;
		}

		.direction-and:before {
			@extend .fa-arrows-h;
		}
	}

	.link-list {
		list-style-type: none;
		margin: 0;
		padding: 20px;
		font-weight: $fontLight;

		li {
			margin: 0 0 20px;
			padding: 0 0 20px;
			border-bottom: 1px dashed rgba(0,0,0,0.2);
		}

		span {
			display: block;
		}

		.link-name {
			font-weight: $fontNormal;
		}

		.link-ind {
			font-style: italic;
		}

		.link-flow {
			position: relative;
			padding: 10px 0 10px 25px;
			color: $blue;
			font-weight: $fontBold;
			position: relative;
		}

		.link-flow:before {
			@extend .fa-arrow-down;
			font-family: 'FontAwesome';
			font-size: 1.5em;
			font-weight: $fontNormal;
			position: absolute;
			left: 0px;
		}
	}

	.legend {
		padding: 20px;
		font-size: 1em;
		font-weight: $fontNormal;
		border-bottom: 1px solid rgba(0,0,0,0.2);

		.flow {
			color: $blue;
			font-weight: $fontBold;
		}

		.flow > i {
			font-size: 1.5em;
		}
	}

	p {
		margin: 0 20px;
		font-weight: $fontLight;
	}
}

.industry-select,
.commodity-select {
	position: relative;
	select {
		@include appearance(none);
		background: rgba(0,0,0,0.2);
		border: 0;
		border-bottom: 4px solid $blue;
		padding: 10px 30px 10px 10px;
		z-index: 2;
		position: relative;
		width: 100%;
		font-weight: $fontLight;
		font-size: 0.9em;
	}
	option {
		background: $slate;
	}
	&:before {
		@extend .fa-chevron-down;
		font-family: 'FontAwesome';
		position: absolute;
		right: 10px;
		top: 10px;
	}
}

.commodity-select:after {
	@extend .fa-long-arrow-down:before;
	display: block;
	font-family: 'FontAwesome';
	width: 100%;
	text-align: center;
	margin: 25px 0 0;
  	font-size: 1.5em;
}

.commodity-label,
.industry-label {
	font-weight: $fontLight;
	font-size: 0.7em;
	text-transform: uppercase;
}

.industry-select {
	margin-bottom: 20px;
}

.flow-select {
	margin: 30px 0 50px;
	font-weight: $fontLight;

	strong {
		font-weight: $fontNormal;
	}

	#flow-range {
		background: rgba(0,0,0,0.1);
		height: 10px;
		margin: 20px 0;

		.ui-slider-handle {
			background: $blue;
			width: 20px;
			height: 20px;
			border-radius: 100%;
		}

		.ui-slider-range {
			background: rgba(0,0,0,0.5);
		}
	}

	.flow-range-min,
	.flow-range-max {
		display: inline-block;
		font: $font;
		font-weight: $fontLight;
		font-size: 0.9em;
		color: rgba(255,255,255,0.5);
		margin: 10px 0 0;
		position: relative;

		&:before {
			content: "";
			height: 10px;
			width: 1px;
			background: rgba(255,255,255,0.5);
			position: absolute;
			top: -20px;
			left: 50%;
		}
	}

	.flow-range-min {
		margin-left: -7px;
	}

	.flow-range-max {
		float: right;
		margin-right: -7px;
	}

	#flow-min,
	#flow-max {
		display: inline-block;
	}
}

.warning {
	background: rgba(255,255,255,0.1);
	padding: 20px;
	margin-top: 20px;

	h2 {
		padding: 0 20px 10px 20px;
		margin: 0 -20px 10px -20px;
	}

	h2:before,
	h2:after {
		display: none;
	}

	p {
		font-size: 0.9em;
		font-weight: $fontLight;
	}
}