@include keyframes(info) {
  0% { 
  	opacity: 0;
  }
  100% { 
  	opacity: 1;
  }
}

#map-area {
	width: 100%;
	height: 100%;

	.info {
		background: rgba(255, 255, 255, 0.8);
		color: $slate;
		font: $font;
		font-weight: $fontLight;
		width: 400px;
		top: -10px;
		right: -10px;
		padding: 20px;
		font-size: 1.1em;

		.info-container {
			@include animation(info 0.5s 1);
		}

		h2 {
			font-size: 1.3em;
			color: $white;
			background: $blue;
			margin: -20px -20px 20px;
			padding: 20px;
		}

		.population {
			display: block;
			color: $blue;
			margin: 5px 0 10px;
			font-size: 1.5em;
			font-weight: $fontNormal;
		}

		.ind-list {
			list-style-type: none;
			margin: 10px 0 0 0;
			padding: 0;
			counter-reset: item;

			li {
				position: relative;
				padding: 0 0 0 20px;
				color: rgba(0,0,0,0.5);
				margin: 0 0 5px;
			}

			li:before {
				content: counter(item) "  "; 
			    counter-increment: item;
			    position: absolute;
			    left: -5px;
			    top: 0;
			    background: rgba(0,0,0,0.2);
			    color: $white;
			    display: block;
			    font-weight: $fontNormal;
			    padding: 1px 3px;
			    text-align: center;
			    width: 17px;
			    height: 17px;
			    border-radius: 100%;
			}

			li > strong {
				font-weight: $fontLight;
				color: $slate;
			}
		}
	}

	.province {
		position: relative;
		background: rgba(255,255,255,0.8);
		margin: 0;
		padding: 5px 10px 10px 5px;

		select {
			background: transparent;
			border: 0;
			border-bottom: 2px solid $blue;
			color: $slate;
			font: $font;
			font-weight: $fontLight;
			font-size: 1.3em;
			padding: 10px 30px 10px 10px;
			position: relative;
			z-index: 1;
			@include appearance(none);
		}

		&:before {
			@extend .fa-chevron-down;
			font-family: 'FontAwesome';
			color: $blue;
			font-size: 1.5em;
			position: absolute;
			right: 10px;
			top: 10px;
			z-index: 0;
		}
	}

	.region-popup {
		.leaflet-popup-content-wrapper {
			border-radius: 0px;
			font: $font;
			font-size: 1em;
			width: 400px !important;
		}

		.leaflet-popup-content {
			width: 360px !important;
		}

		h2 {
			border-bottom: 1px solid rgba(0,0,0,0.2);
			color: $blue;
			margin: 0 0 10px;
			padding: 0 0 10px;
			font-size: 1.2em;
		}

		.population {
			display: block;
			color: $blue;
			font-size: 2em;
			line-height: 1em;
			margin: 0 0 5px;
		}
	}
}

.side-map-container {
	margin: -20px -30px 0;
	position: relative;

	.map-prov-select {
		position: absolute;
		z-index: 1;
		top: 10px;
		left: 15px;
		right: 15px;
		border-bottom: 2px solid $white;
		padding: 5px 10px;
	}

	.map-prov-select:before {
		@extend .fa-chevron-down;
		font-family: 'FontAwesome';
		position: absolute;
		top: 5px;
		right: 9px;
		z-index: -1;
	}

	select {
		width: 100%;
		color: $white;
		background: transparent;
		border: 0;
		z-index: 1;
		font-size: 0.9em;
		@include appearance(none);
	}

	select > option {
		background: $darkSlate;
		border: 0px;
	}

	#side-map {
		height: 150px;
		width: 100%;
	}
}

.map-region-overview {
	font-size: 0.9em;
	font-weight: $fontLight;

	.region-name {
		background: rgba(0,0,0,0.2);
		margin: -20px -30px 20px;
  		padding: 30px;
  		border-bottom: 1px solid rgba(255,255,255,0.3);
  		font-weight: $fontNormal;
	}

	h3 {
		background: rgba(0,0,0,0.2);
		margin: 20px -30px;
  		padding: 30px;
  		font-weight: $fontLight;
  		font-size: 1em;
	}

	.pop-list {
		list-style-type: none;
		margin: 0 0 30px;
		padding: 0;

		li {
			padding: 5px 0;
			//border-bottom: 1px solid rgba(255,255,255,0.2);
			font-weight: $fontLight;
		}

		li:last-child {
			border-bottom: 0px;
		}
	}

	.occ-list {
		list-style-type: none;
		margin: 0 0 30px 0;
		padding: 0;
		counter-reset: item;
		font-size: 0.9em;

		li {
			position: relative;
			padding: 10px 0px 10px 30px;
			border-bottom: 1px solid rgba(255,255,255,0.3);
		}

		li:last-child {
			border-bottom: 0px;
		}

		li:before {
			content: counter(item) "  "; 
			counter-increment: item;
			position: absolute;
			left: 0;
			top: 10px;
			background: $blue;
			color: $slate;
			width: 20px;
			height: 20px;
			border-radius: 100%;
			font-weight: $fontBold;
			text-align: center;
			padding: 1px 0;
		}

		li > a {
			color: $white;
			display: block;
			font-weight: $fontBold;
			line-height: 0.9em;
		}
	}

	i.fa-question-circle {
		color: rgba(255,255,255,0.3);
		font-size: 0.8em;
		@include transition(all 0.2s ease-in);
	}

	i.fa-question-circle:hover {
		cursor: pointer;
		color: rgba(255,255,255,0.7);
	}
}