.modal {
	font-size: 0.8em;
	font-weight: $fontLight;
}

.btn-primary {
	background: $blue;
	border: 1px solid $darkBlue;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
	background: $darkBlue;
}