$cats: (
	("mapped", "globe"),
	("tabular", "database"),
	("graphed", "pie-chart"),
	("linked", "link")
);

@include keyframes(header) {
  0% { 
  	left: 0px;
  	right: 0px;
  }
  100% { 
  	left: 50px;
  	right: 50px;
  }
}

nav {
	height: 100%;
	background: $slate;
	color: $white;	
	width: 25%;
	position: fixed !important;

	.nav-container {
		padding: 0 30px;
	}

	header {
		background: $blue;
		padding: 40px 40px 60px;
		text-align: center;
		margin: 0 -30px;
		position: relative;

		h1 {
			font-size: 1.4em;
			font-style: italic;
			text-transform: lowercase;
		}

		h1 > span {
			text-transform: uppercase;
			display: block;
			font-style: normal;
		}
	}

	header:after {
		content: "";
		display: block;
		position: absolute;
		background: $lightBlue;
		height: 15px;
		bottom: 0;
		right: 50px;
		left: 50px;
		@include animation(header 1s 1);
	}

	ul.list-nav {
		margin: 0 -30px;
		padding: 0;
		list-style: none;
		background: $slate;

		li {
			display: block;
			float: left;
			width: 25%;
		}

		li > a {
			display: block;
			padding: 20px 0px;
			position: relative;
			text-indent: -999em;
			color: rgba(255,255,255,0.5);
			margin: 30px 0 0;
			@include transition(all 0.2s ease-in);
		}

		li > a:hover {
			color: rgba(255,255,255,0.75);
			box-shadow: inset 0 -10px 0 $darkSlate;
		}

		li.list-active > a {
			color: $white;
			box-shadow: inset 0 -10px 0 $teal;
		} 

		li > a:before {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			text-align: center;
			text-indent: 0;
			font-family: 'FontAwesome';
		}

		@each $name, $char in $cats {
			li.list-#{$name} > a:before {
				@extend .fa-#{$char};
			}
		}
	}

	h2 {
		font-size: 1em;
		font-weight: $fontLight;
		padding: 25px 30px;
		margin: 0 -30px 20px;
		border-bottom: 1px solid rgba(255,255,255,0.3);
		position: relative;
		z-index: 1;

		&:before,
		&:after {
			content: "";
			position: absolute;
			left: 30px;
			width: 0;
			height: 0;
			border-style: solid;
		}

		&:before {	
			margin: 1px 0 0;
			top: 100%;	
			border-width: 13px 12.5px 0 12.5px;
			border-color: rgba(255,255,255,0.3) transparent transparent transparent;
		}

		&:after {
			top: 100%;	
			border-width: 13px 12.5px 0 12.5px;
			border-color: $slate transparent transparent transparent;
		}

		i {
			color: rgba(255, 255, 255, 0.3);
			@include transition(all 0.2s ease-in);
			margin-left: 5px;
			font-size: 0.6em;
		}

		i:hover {
			color: rgba(255, 255, 255, 0.6);
			cursor: pointer;
		}
	}

	h2.heading-nodiv {
		border-bottom: 0px solid #000;
		margin-bottom: 0px;

		&:before,
		&:after {
			display: none;
		}
	}

	.block {
		padding: 30px;
		margin: 0 -30px;
	}

	.block-dark {
		background: $darkSlate;
	}

	.percentage-stat {
		width: 100px;
		height: 100px;
		display: inline-block;
		background-image:
	        linear-gradient(0deg, transparent 50%, $blue 50%),
	        linear-gradient(10deg, $blue 50%, transparent 50%);
        border-radius: 100%;
        position: relative;
        font-weight: $fontLight;
        @include transition(background-image 0.5s ease-in);

        span {
        	width: 80px;
        	height: 80px;
        	background: $slate;
        	position: absolute;
        	text-align: center;
        	border-radius: 100%;
        	left: 10px;
        	top: 10px;
        	padding: 30px 0;
        	font-size: 1.4em;
        }
	}

	.percentage-label {
		font-size: 0.8em;
		margin: 15px 0 0;
		font-weight: $fontLight;
	}
}

.location-select,
.partner-select {
	margin: -20px -30px 0px -30px;
	position: relative;
	background: $slate;

	select {
		border: 0;
		border-bottom: 2px solid $white;
		background: transparent;
		@include appearance(none);
		padding: 5px 20px 5px 5px;
		z-index: 1;
		position: relative;
		margin: 0 10px 0 0;
		font-size: 0.8em;
		max-width: 125px;
	}

	select > option {
		color: $slate;
	}

	.location-select-inputs,
	.partner-select-inputs {
		position: absolute;
		top: 10px;
		left: 30px;
		right: 30px;
		width: 100%;
	}

	.side-fer,
	.side-prov {
		position: relative;
		display: inline-block;

		&:before {
			@extend .fa-chevron-down;
			font-family: 'FontAwesome';
			position: absolute;
			top: 5px;
			right: 10px;
			color: $white;
			z-index: 0;
		}
	}

	.side-fer select {
		max-width: 200px;
	}

	.side-prov select {
		max-width: 55px;
	}

	#side-map,
	#graphed-map,
	#partner-map {
		height: 200px;
		width: 100%;
	}
}

.map-region-overview,
.side-map-container {
	background: $slate;
}

.block-stat {
	text-align: center;

	span {
		color: $blue;
		display: block;
		font-weight: $fontBold;
		font-size: 5em;
		line-height: 100%;
	}
}