.content-section {
	.filter-bar {
		min-height: 167px;
		position: relative;

		form {
			width: 100%;
			position: relative;
			margin: 0 0 30px;
		}

		form > input[type="text"] {
			width: 100%;
			border: 0;
			border-bottom: 3px solid $slate;
			padding: 10px 30px 10px 10px;
			background: $white;
		}

		form > #filter-occupations-list {
			background: $slate;
			position: absolute;
			margin: 0px;
			color: $white;
			width: 100%;
			list-style-type: none;
			max-height: 0px;
			overflow: hidden;
			padding: 0px 20px;
			z-index: 10;
			@include transition(max-height 0.2s ease-in);
		}

		form > #filter-occupations-list.active {
			max-height: 500px;
		}

		form > #filter-occupations-list li {
			font-weight: $fontNormal;
			font-size: 0.8em;
		}

		form > #filter-occupations-list li:last-child {
			margin: 0 0 20px 0;
		}

		form > #filter-occupations-list > li:first-child {
			text-transform: uppercase;
			color: rgba(255,255,255,0.5);
			margin: 20px 0 15px 0;
		}

		form > #filter-occupations-list li > a {
			color: $white;
			display: block;	
			margin: 0 0 3px 0;
		}

		form > #filter-occupations-list li > a > strong {
			color: $teal;
			font-weight: $fontNormal;
		}

		form > #filter-occupations-list > .no-results {
			display: none;
		}

		form > input.filter-industries {
			display: none;
		}

		form > label.filter-industries {
			position: absolute;
			top: 0;
			right: 0;
			text-indent: -9999em;
		}

		form > label.filter-industries:before {
			position: absolute;
			top: 10px;
			right: 0;
			color: $blue;
			font-family: 'FontAwesome';
			text-indent: 0;
			@extend .fa-bars;
			@include transition(all 0.2s ease-in);
		}

		form > label.filter-industries:hover:before {
			color: $slate;
			cursor: pointer;
		}

		form .filter-industries-container {
			position: absolute;
			width: 100%;
			height: 300px;
			max-height: 0;
			overflow: hidden;
			z-index: 2;
			@include transition(max-height 0.3s ease-in);
		}

		form > input.filter-industries:checked ~ .filter-industries-container {
			max-height: 300px;
		}

		form div.filter-industries {
			background: $lightBlue;
			width: 100%;
			color: $white;
			font-size: 0.8em;
		}

		form div.filter-industries > .title {
			display: block;
			padding: 10px 20px;
			font-weight: $fontBold;
			background: rgba($blueR,$blueG,$blueB,0.3);
		}

		form div.filter-industries > ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}

		form div.filter-industries > ul > li:nth-child(even) {
			background: rgba($blueR,$blueG,$blueB,0.3);
		}

		form div.filter-industries > ul > li > input {
			display: none;
		}

		form div.filter-industries > ul > li > label {
			display: block;
			padding: 10px 20px;
			color: $white;
			margin: 0;
			font-weight: $fontLight;
			position: relative;
		}

		form div.filter-industries > ul > li > label:hover {
			text-decoration: none; 
			background: $blue;
			cursor: pointer;
		}

		form div.filter-industries > ul > li > input:checked + label:before {
			@extend .fa-check;
			font-family: 'FontAwesome';
			position: absolute;
			top: 8px;
			right: 15px;
			font-size: 1.3em;
		}

		.filter-tags {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		.filter-tags > li {
			display: inline-block;
			background: rgba($slateR, $slateG, $slateB, 0.05);
			padding: 7px 10px;
			font-size: 0.8em;
			margin: 0 3px 8px;
			display: none;
			opacity: 0;
			@include transition(opacity 0.5s ease-in);
		}

		.filter-tags > li.show {
			display: block;
			opacity: 1;
		}

		.filter-tags > li:before {
			font-weight: $fontBold;
			display: block;
			margin: 0 0 5px 0;
		}

		.filter-tags > .filter-tags-industry:before {
			color: $blue;
			content: "Industries: ";
		}

		.filter-tags > .filter-tags-occupation:before {
			color: $darkTeal;
			content: "Occupations: ";
		}

		.filter-tags > .filter-tags-general:before {
			color: $slate;
			content: "General: ";
		}

		.filter-tags > li > a {
			color: $slate;
			display: block;
			padding: 5px 0 5px 30px;
			position: relative;
			border-bottom: 1px solid rgba($slateR, $slateG, $slateB, 0.1);
		}

		.filter-tags > li > a:last-child {
			border-bottom: 0px solid #fff;
		}

		.filter-tags > li > a:after {
			@extend .fa-times:before;
			color: rgba($slateR, $slateG, $slateB, 0.3);
			font-family: 'FontAwesome';
			display: inline-block;
			margin: 0 10px 0 5px;
			position: absolute;
			left: 0;
			top: 5px;
		}

		.filter-tags > li > a:hover {
			text-decoration: none;
			color: rgba($slateR, $slateG, $slateB, 0.8);
		}

		.filter-tags > li > a:hover:after {
			color: rgba($slateR, $slateG, $slateB, 0.2);
		}
	}

	#filter-options {
		position: absolute;
		bottom: 30px;
		padding-right: 40px;
	}

	#filter-options:before {
		@extend .fa-chevron-down:before;
		font-family: 'FontAwesome';
		position: absolute;
		right: 15px;
		top: 8px;
	}

	#filter-options.active:after {
		content: "";
		height: 2px;
		background: $white;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -2px;
		z-index: 5;
	}

	#filter-options-list {
		position: absolute;
		background: $white;
		color: $slate;
		top: 100%;
		left: 0;
		margin: -31px 0 0 0;
		z-index: 1;
		font-size: 0.7em;
		max-height: 0px;
		overflow: hidden;
		@include transition(max-height 0.2s ease-in);

		.row {
			margin: 30px;
		}

		.title {
			font-weight: $fontBold;
			display: block;
			margin: 0 0 10px 0;
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			a {
				color: $slate;
				@include transition(all 0.2s ease-in);
			}

			a:hover {
				color: $blue;
				text-decoration: none;
			}

			a,
			a:active,
			a:visited {
				text-decoration: none;
			}

			a.active {
				color: $darkTeal;
				text-decoration: underline;
			}
		}

		i {
			color: rgba($slateR, $slateG, $slateB, 0.3);
			@include transition(all 0.2s ease-in);
		}

		i:hover {
			color: rgba($slateR, $slateG, $slateB, 0.7);
			cursor: pointer;
		}
	}

	#filter-options.active + #filter-options-list {
		max-height: 300px;
		border: 1px solid rgba($slateR, $slateG, $slateB, 0.5);
	}

	.data-container {
		margin: 30px -20px 0px;
		position: relative;

		.result-num {
			position: absolute;
			top: -46px;
			left: 0;
			right: 0;
			background: $slate;
			color: $white;
			font-size: 0.8em;
			padding: 15px 30px;		
		}
	}

	table {
		border-top: 3px solid $slate;
		width: 100%;
		font-size: 0.8em;

		thead {
			background: rgba($slateR, $slateG, $slateB, 0.05);
		}

		thead > tr > th {
			font-weight: $fontNormal;
			padding: 20px;
		}

		thead > tr > th > i {
			color: rgba($slateR, $slateG, $slateB, 0.3);
			@include transition(color 0.2s ease-in)
		}

		thead > tr > th > i:hover {
			color: rgba($slateR, $slateG, $slateB, 0.7);
			cursor: pointer;
		}

		thead > tr > th > .popover {
			font-weight: $fontLight;
			font-size: 0.9em;
		}

		thead > tr > th > .popover > h3 {
			font-size: 0.9em;
		}

		thead > tr > th:first-child,
		tbody > tr > td:first-child {
			padding-left: 35px;
		}

		thead > tr > th:last-child,
		tbody > tr > td:last-child {
			padding-right: 35px;
		}

		tbody > tr > td {
			padding: 20px;
		}

		tbody > tr:nth-child(even) {
			background: rgba($slateR, $slateG, $slateB, 0.02);
		}

		tbody > tr > td > a {
			font-weight: $fontNormal;
			color: $slate;
			text-decoration: none;
			@include transition(all 0.1s ease-in);
		}

		tbody > tr > td > a:hover {
			color: $blue;
		}
	}
}

#sidebar-content {
	#skills-chart {
		height: 250px;
		margin: -20px -30px 0;

		.highcharts-title {
			display: none !important;
		}

		.highcharts-background {
			fill: $slate !important;
		}

		.highcharts-series > path {
			stroke: $darkSlate !important;
		}

		.highcharts-legend-item > rect {
			stroke: #fff;
			stroke-width: 1px;
		}

		.highcharts-legend-item:hover > rect {
			stroke: rgba(255,255,255,0.5) !important;
		}

		.highcharts-legend-item:hover > text {
			fill: rgba(255,255,255,0.5) !important;
			color: rgba(255,255,255,0.5) !important;
		}
	}
}

#replPotModal {
	.modal-dialog {
		width: 850px;
	}
}