<div id="spinner">
	<div><div class="loader"></div></div>
</div>

<div class="modal fade" id="introModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Atlantic Labour Force</h4>
			</div>
			<div class="modal-body">
				<p>
					Welcome to the Atlantic Labour Force app - a collection of unique tools to expore our powerful economic dataset, tailored for Atlantic Canada.
				</p>
				<p>
					New here? No problem! We can help you get your exploration started.
				</p>
			</div>
			<div class="modal-footer">
				<div class="row">
					<div class="col-md-6 text-left">
						<button type="button" class="btn btn-default" data-dismiss="modal">No, thanks.</button>
					</div>
					<div class="col-md-6 text-right">
						<button type="button" class="btn btn-primary" id="intro-start">Start tutorial <i class="fa fa-chevron-right"></i></button>
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="js/jquery.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slimscroll.min.js"></script>
<script src="js/highcharts.js"></script>
<script src="js/leaflet.js"></script>
<script src="js/leaflet.polylineDecorator.js"></script>
<script src="js/topojson.js"></script>
<script src="js/spin.min.js"></script>
<script src="js/typed.min.js"></script>
<script src="js/main.js"></script>
<script src="js/mapped.js"></script>
<script src="js/tabular.js"></script>
<script src="js/graphed.js"></script>
<script src="js/linked.js"></script>
<script src="js/intro.js"></script>
<script src="js/intro-walkthrough.js"></script>
</body>
</html>