<h2>Select Location:</h2>
<div class="location-select" id="graphed-step8">
	<div class="location-select-inputs">
		<div class="side-prov">
			<select>
			{{#each provs}}
				<option value="{{id}}"{{#if selected}} selected{{/if}}>{{name}}</option>
			{{/each}}
			</select>
		</div>
		<div class="side-fer">
			<select>
			{{#each regions}}
				<option value="{{id}}"{{#if selected}} selected{{/if}}>{{name}}</option>
			{{/each}}
			</select>
		</div>
	</div>
	<div id="graphed-map"></div>
</div>
<div class="map-region-overview" id="graphed-step9">
	<h3>Top Occupations</h3>
	<ol class="occ-list">
	{{#each topOccs}}
		<li>
			<a href="#" data-id="{{occupation_id}}">{{name}}</a>
			{{volume}} People
		</li>
	{{/each}}
	</ol>
</div>