<div class="content-wrapper" id="graphed">
	<div class="content-section">
		<div class="location-bar">
			<span class="prov">
				Location: {{prov}}
			</span>
		{{#if region}}
			<span class="fer">
				{{region}}
			</span>
		{{/if}}
		</div>
		<div class="full-chart">
			<div class="row row-md-height">
				<div class="col-md-9 col-md-height col-top">
					<h2>Demography <i class="fa fa-question-circle" data-toggle="popover" title="Low Growth" data-content="Ideal population for each age cohort to maintain a growing population." data-placement="left" data-container="body"></i></h2>
					<div id="demography-chart"></div>
				</div><!-- .col -->
				<div class="col-md-3 col-md-height col-side" id="graphed-step2">
					<div class="demography-pop">
						<span>{{pop}}</span>
						Total Population
					</div>
					<p>
						Working Age: <i class="fa fa-question-circle" data-toggle="popover" title="Working Age" data-content="Working age is calculated by:<br />Population Between Ages 15-64 / Total Population" data-placement="left" data-container="body"></i><br />
						<strong>{{ratios.percent_working}}%</strong>
					</p>
					<p>
						Dependency Ratio: <i class="fa fa-question-circle" data-toggle="popover" title="Dependency Ratio" data-content="Working age is calculated by:<br />Population Younger Than 14 and Older Than 65 Years Old / Population 15-64 Years Old" data-placement="left" data-container="body"></i><br />
						<strong>{{ratios.depend_ratio}}%</strong>
					</p>
				</div><!-- .col -->
			</div><!-- .row -->
		</div>
		<div class="row half-chart-table">
			<div class="col-md-6 half-chart" id="graphed-step3">
				<div class="half-chart-container">
					<h3>Top Industries ({{max_year}}): <i class="fa fa-question-circle" data-toggle="popover" title="Top Industries" data-content="Top industries by number of employees for selected region. Click on any region to see its employment change overtime, and a breakdown of occupations included in the industry." data-container="body"></i></h3>
					<ol id="top-industries">
					{{#each topInd}}
						<li>
							<a href="#" data-id="{{id}}" class="top-industry-item">{{name}}</a>
							{{number_employees}} Employees
						</li>
					{{/each}}
					</ol>
					{{#unless topInd}}
						No industry data recorded for 2013.
					{{/unless}}
				</div>
			</div>
			<div class="col-md-6 half-chart">
				<div class="half-chart-container">
					<div id="industry-select">
						<label for="industry">
							Select Industry:
						</label>
						<select id="industry">
						{{#each industries}}
							<option value="{{id}}"{{#if active}} selected{{/if}}>{{name}}</option>
						{{/each}}
						</select>
					</div><!-- #industry-select -->
					<div id="industry-chart"></div><!-- #industry-chart -->
				</div>
			</div><!-- .col -->
		</div>
		<div class="full-chart">
			<h3>Occupations for <span id="current-industry"></span>: <i class="fa fa-question-circle" data-toggle="popover" title="Occupation Breakdown" data-content="An overlook of the occupations of people employed in the selected industry. Top occupations are calculated by number of employees from selected industry." data-container="body"></i></h3>
			<div class="row row-md-height">
				<div class="col-md-6 col-md-height col-top">
					<div id="occupations-chart"></div>
				</div>
				<div class="col-md-6 col-md-height col-side">
					<div class="half-chart-container">
						<ol id="top-ind-occupations">
						</ol>
					</div>
				</div><!-- .col -->
			</div>
		</div>
	</div><!-- .content-section -->
</div><!-- .content-wrapper -->
<input id="intro-graphed" type="hidden" value="{{intro}}" />