<div id="linked-map">
</div><!-- #linked-map -->
{{#unless isProv}}
<div id="linked-details-container">
	<div class="linked-details">
	</div>
</div>
{{/unless}}
<input id="intro-linked" type="hidden" value="{{intro}}" />