{{#if isProv}}
<div class="warning">
	<h2>No region selected</h2>
	<p>
		You must select a region to investigate trade links.
	</p>
	<p>
		Getting started is easy, just click any region on the map to the right to start investigating.
	</p>
</div>
{{else}}
<h2>Trade Direction:</h2>
<div class="side-select" id="linked-step5">
	<select id="link-direction">
	{{#each directions}}
		<option value="{{value}}" id="{{value}}" {{#if active}}selected{{/if}}>{{name}}</option>
	{{/each}}
	</select>
</div>

<h2>Select Partner:</h2>
<div class="partner-select" id="linked-step6">
	<div class="partner-select-inputs">
		<div class="side-prov">
			<select>
			{{#each provs}}
				<option value="{{id}}"{{#if selected}} selected{{/if}}>{{name}}</option>
			{{/each}}
			</select>
		</div>
		<div class="side-fer"{{#if isAll}} style="display: none;"{{/if}}>
			<select>
			{{#each regions}}
				<option value="{{id}}"{{#if selected}} selected{{/if}}>{{name}}</option>
			{{/each}}
			</select>
		</div>
	</div>
	<div id="partner-map"></div>
</div>

<h2>Specify Trade:</h2>

<div id="linked-step7">
	<label for="commodity-select" class="commodity-label">From Commodity:</label>
	<div class="commodity-select">
		<select id="commodity-select">
			{{#each commodities}}
			<option value="{{id}}"{{#if active}} selected{{/if}}>{{name}}</option>
			{{/each}}
		</select>
	</div>
	<label for="industry-select" class="industry-label">To Industry:</label>
	<div class="industry-select">
		<select id="industry-select">
			{{#each industries}}
			<option value="{{id}}"{{#if active}} selected{{/if}}>{{name}}</option>
			{{/each}}
		</select>
	</div>
</div>

<!--<h2>Select Flow Range:</h2>
<div class="flow-select">
	<strong>Selected Range: </strong>
	<div id="flow-min"></div> to 
	<div id="flow-max"></div>

	<div id="flow-range"></div>

	<span class="flow-range-min"></span>
	<span class="flow-range-max"></span>
</div>
-->
{{/if}}