{{> header }}

<nav id="step1">
	<div class="nav-container">
		<header>
			<h1>Atlantic <span>Labour Force</span></h1>
		</header>

		<ul class="list-nav clearfix" id="step2">
		{{#each navItems}}
			<li class="list-{{name}} {{#if active}}list-active{{/if}}"><a href="#{{name}}">{{name}}</a></li>
		{{/each}}
		</ul>

		<div id="step3">
			<div id="sidebar-content">
			</div><!-- .sidebar-content -->
		</div>
	</div>
</nav>

<div class="container-fluid container-main">
	<div class="row row-fluid row-main">
		<div class="col-md-9 col-md-offset-3 col-content" id="step4">
		</div><!-- .col-content -->
	</div><!-- .row -->
</div><!-- .container-fluid -->

{{> footer }}