<h2><strong>{{region.name}}</strong></h2>
<div class="map-region-overview">
	<!--<div class="row">
		<div class="col-md-6 text-center">
			<div class="c100 p{{ratios.percent_working}}">
				<span>{{ratios.percent_working}}%</span>
				<div class="bar"></div>
				<div class="fill"></div>
			</div>
			Working Age of Population <i class="fa fa-question-circle" data-toggle="popover" title="Working Age" data-content="Working age is calculated by:<br />Population Between Ages 15-64 / Total Population" data-container="body"></i>
		</div>
		<div class="col-md-6 text-center">
			<div class="c100 p{{ratios.depend_ratio}}">
				<span>{{ratios.depend_ratio}}%</span>
				<div class="bar"></div>
				<div class="fill"></div>
			</div>
			Dependency Ratio <i class="fa fa-question-circle" data-toggle="popover" title="Dependency Ratio" data-content="Working age is calculated by:<br />Population Younger Than 14 and Older Than 65 Years Old / Population 15-64 Years Old" data-container="body"></i>
		</div>
	</div>-->

	<div class="block-stat">
		<span>{{meanAge}}</span>
		Average Age
	</div>

	<h3>Top Occupations <i class="fa fa-question-circle" data-toggle="popover" title="Top Occupations" data-content="Top occupations for region calculated by total employment in 2013." data-container="body"></i></h3>
	<ol class="occ-list">
	{{#each topOccs}}
		<li>
			<a href="#" data-id="{{occupation_id}}">{{name}}</a>
			{{volume}} People
		</li>
	{{/each}}
	</ol>
</div>