<h2>Select Province</h2>
<div class="side-map-container" id="tabular-step6">
	<div class="map-prov-select">
		<select id="map-prov">
		{{#each provs}}
			<option value="{{province_id}}"{{#if active}} selected{{/if}}>{{name}}</option>
		{{/each}}
		</select>
	</div>
	<div id="side-map"></div><!-- side-map -->
</div><!-- .side-map-container -->

<h2>Skills Breakdown <i class="fa fa-question-circle" data-toggle="popover" title="Skills Breakdown" data-content="Provincial distribution of skill levels, where:<br /><strong>0:</strong> Highly skilled, university degree<br /><strong>A:</strong> University degree<br /><strong>B:</strong> College degree, apprenticeship<br /><strong>C:</strong> Secondary school<br /><strong>D:</strong> On-the-job training" data-container="body"></i></h2>
<div id="skills-chart"></div>