<div class="content-wrapper">
	<div class="content-section">
		<div class="filter-bar">
			<div class="row">
				<div class="col-md-5">
					<form id="filter-tags-form">
						<input type="text" id="filter-occupations" placeholder="Filter by occupation name..." />
						<ul id="filter-occupations-list">
							<li>Occupations</li>
							<div class="results">
							</div>
							<li class="no-results">Sorry, nothing found.</li>
						</ul>
					</form>
				</div><!-- .col -->
				<div class="col-md-7">
					<ul class="filter-tags">
						<li class="filter-tags-occupation {{#if hasOccFilter}}show{{/if}}">
						{{#each selectedOccupations}}
							<a href="#" data-id="{{occupation_id}}">{{name}}</a>
						{{/each}}
						</li><!-- .filter-tags-occupation -->
						<li class="filter-tags-general {{#if hasOccTags}}show{{/if}}">
						{{#each occupationTags}}
							<a href="#">{{this}}</a>
						{{/each}}
						</li><!-- .filter-tags-general -->	
					</ul>
				</div><!-- .col -->
			</div><!-- .row -->
			<button id="filter-options" class="button button-small button-grey">Filters</button>
			<div id="filter-options-list">
			</div><!-- .filter-options-list -->
		</div><!-- .filter-bar -->
		<div class="data-container">
			<p class="result-num">
				<strong>Results:</strong> {{resultNum}}
			</p>
			<table id="tabular-step2">
				<thead>
					<tr>
						<th>Occupation</th>
						<th>
							Skill Level 
							<i class="fa fa-question-circle" data-toggle="popover" title="Skill Levels" data-content="<strong>0:</strong> Highly skilled, university degree<br /><strong>A:</strong> University degree<br /><strong>B:</strong> College degree, apprenticeship<br /><strong>C:</strong> Secondary school<br /><strong>D:</strong> On-the-job training"></i>
						</th>
						{{#unless isAll}}
						<th>
							Wage Attraction
							<i class="fa fa-question-circle" data-toggle="popover" title="Wage Attraction" data-content="<strong>Non-Competitive:</strong> Provincial wage less than national by over 10%<br /><strong>Marginally Non-Competitive:</strong> Provincial wage less than national by less than 10%<br /><strong>Marginally Competitive:</strong> Provincial wage greater than national by less than 10%<br /><strong>Competitive:</strong> Provincial wage greater than national by over 10%" data-placement="left"></i>
						</th>
						{{/unless}}
						<th>
							Replacement Potential
							<i class="fa fa-question-circle" data-toggle="popover" title="Replacement Potential" data-content="<strong>Very Low:</strong> Number of older people in occupation exceeds low growth requirement by over 10%<br /><strong>Low:</strong> Number of older people in occupation exceeds low growth requirement by less than 10%<br /><strong>High:</strong>  Number of young people in occupation exceeds low growth requirement by less than 10%<br /><strong>Very High:</strong> Number of young people in occupation exceeds low growth requirement by over 10%" data-placement="left"></i>
						</th>
					</tr>
				</thead>
				<tbody>
				{{#each occupations}}
					<tr>
						<td><a href="#" class="occupation-name" data-id="{{id}}">{{name}}</a></td>
						<td>{{skill_level}}</td>
						{{#unless ../isAll}}
						<td>{{wage_attr}}</td>
						{{/unless}}
						<td>{{repl_pot}}</td>
					</tr>
				{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div><!-- .content-wrapper -->
<input id="intro-tabular" type="hidden" value="{{intro}}" />
<div id="replpot-area"></div>