<div class="header">
	<div class="row">
		<div class="col-md-5">
			{{region}}
		</div>
		<div class="col-md-2">
			<span class="direction direction-{{direction}}">{{direction}}</span>
		</div>
		<div class="col-md-5">
			{{partner}}
		</div>
	</div>
</div>

<div class="legend">
	<span class="flow"><i class="fa fa-arrow-down"></i> 1</span> = $1,000,000
</div>

<ul class="link-list">
{{#each links}}
	<li>
		<div class="link-item link-from">
			<span class="link-name">{{from_region}}</span>
			<span class="link-ind">{{commodity_name}}</span>
		</div>
		<div class="link-flow">
			{{flow}}
		</div>
		<div class="link-item link-to">
			<span class="link-name">{{to_region}}</span>
			<span class="link-ind">{{industry_name}}</span>
		</div>
	</li>
{{/each}}
</ul>

{{#if noLinks}}
<p>
	There are no links to display between these regions.
</p>
{{/if}}