<div class="info-container">
	<h2>{{region.name}}</h2>

	<div class="row">
		<div class="col-md-5">
			Total Population: 
			<span class="population">{{region.population}}</span>

			Working Age: <br />
			<strong>{{region.percent_working}}{{#if region.percent_working}}%{{else}}N/A{{/if}}</strong>
			<br />
			Dependency Ratio: <br />
			<strong>{{region.depend_ratio}}{{#if region.depend_ratio}}%{{else}}N/A{{/if}}</strong>
		</div>
		<div class="col-md-7">
			<strong>Top Industries:</strong>
			{{#if topInd}}
			<ol class="ind-list">
			{{#each topInd}}
				<li>
					<strong>{{name}}</strong><br/>
					{{number_employees}}
				</li>
			{{/each}}
			</ol>
			{{else}}
			<br />N/A
			{{/if}}
		</div>
	</div>
</div>